@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body{
	text-align:center;
	font-family: 'Quicksand', sans-serif;
    color: dimgrey;
    font-size: 18px;
}
h1, h2, h3, h4, h5, p {
	margin-top:0;
}

header{
	margin-left: 30%;
    margin-right: 30%;
}

h1{
	padding-top: 30px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-family: 'Shrikhand', cursive;
	color: rgb(143, 25, 147);
	font-size: 50px;
}

h2{
	padding-top: 0px;
	margin-top: 0px;
	font-size: 20px;
}

h3{
	margin-top: 10px;
	margin-bottom: 10px;
}

p{
	margin-left:20%;
    margin-right: 20%;
}

.historyofcake{
	margin-left:20%;
    margin-right: 20%;
}

div #opening_photo{
	width: 80%;
	height:auto;
}

#ingredients h3{
	margin-top: 30px;
	padding-bottom: 0px;
}

#ingredients li{
	margin-top: 0px;
	padding-top: 0px;
	text-align: left;
	margin-left: 35%;
}

/*
.checkbox {
    margin: 10px;
    display: block;
    float: left;
}
*/

/* checkbox from https://codepen.io/jamesbarnett/pen/yILjk */
input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

.NOTE{
	margin-left:20%;
    margin-right: 20%;
}

span{
	color:red;
	font-weight: bold;
}

#instructions_block_1 img{
	width: 50%;
	height:auto;
}

#instructions_block_2 img{
	width: 50%;
	height:auto;
}

#instructions_block_3 img{
	width: 50%;
	height:auto;
	
}

#instructions_block_4 img{
	width: 50%;
	height:auto;
	
}

#instructions_block_5 img{
	width: 50%;
	height:auto;
	
}

#instructions_block_6 img{
	width: 50%;
	height:auto;
	
}

#instructions_block_7 img{
	width: 50%;
	height:auto;
	
}

#instructions_block_8 img{
	width: 50%;
	height:auto;
	
}
