@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body{
	margin:0;
	text-align:center;
	font-family: 'Quicksand', sans-serif;
    color: dimgrey;
    font-size: 18px;

}
h1, h2, h3, h4, h5, p {
	margin-top:0;
	margin-right: 0;
	margin-left: 0;
}

header img{
  display: block;
  padding-top: 20px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width:375px;
  height: auto;
}

h2{
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 23px;
	font-weight: bold;
}

h3{
	margin-top: 10px;
	margin-bottom: 5px;
	color:rgb(143, 25, 147);
}

h4{
	padding-top: 5px;
	margin-left: 0px;
    margin-right: 0px;
    font-size: 14px; 
   
}

p{
	margin-left:15px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 15px;
    text-align: left;
}

ul{
	display: block;
    list-style-type: disc;
    margin-block-start:0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 51px;
    padding-right: 40px;
}

#instructions h3{
	padding-bottom: 10px;
}

#instructions p:before {
    content:"● ";
}

#instructions p{
	margin-left:15px;
    margin-right: 10px;
}

.opening_photo{
	width: auto;
	height:auto;
}

#history h3{
	padding-top: 10px;
}

.historyofcake {
	text-indent: 20px;
	margin-left:15px;
    margin-right:5px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 7px;
    line-height: 1.4;
}

#ingredients h3{
	margin-top: 30px;
	margin-bottom: 0px;
	padding-bottom: 5px;
	color:rgb(143, 25, 147);

}

#ingredients li{
	margin-top: 0px;
	padding-top: 0px;
	text-align: left;
	margin-left: 0%;
}

/*
.checkbox {
    margin: 10px;
    display: block;
    float: left;
}
*/

/* checkbox from https://codepen.io/jamesbarnett/pen/yILjk */
input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

input[type=checkbox] + label:before { content: "\f096"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f046"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

.NOTE{
	margin-left:10px;
    margin-right: 10px;
   	font-size: 15px;
   	text-align: center;
}

span{
	color:red;
	font-weight: bolder;
}


#instructions_block_1 img{
	width: 350px;
	height:auto;
}

#instructions_block_2 img{
	width: 350px;
	height:auto;
}

#instructions_block_3 img{
	width: 350px;
	height:auto;
	
}

#instructions_block_4 img{
	width: 350px;
	height:auto;
	margin-bottom: 5px;
	
}

#instructions_block_4 p{
	margin-left:15px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 15px;
    text-align: left;
}


#instructions_block_5 img{
	width: 350px;
	height:auto;
	padding-top: 15px;
	
}

#instructions_block_6 img{
	width: 350px;
	height:auto;
	
}

#instructions_block_6 h3{
	padding-top: 20px;
}

#instructions_block_7 img{
	width: 350px;
	height:auto;
	margin-bottom: 5px;
	
}

#instructions_block_7 p{
	margin-left:15px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 15px;
    text-align: left;
}

#instructions_block_8 img{
	width: 350px;
	height:auto;
	padding-top: 15px;
	
}

footer{
	font-size: 12px;
}
